

body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
}

header {
  background-color: #831f4d;

  p {
    color: #ffffff;
  }
}

.sidebar li {
  line-height: 2.4;
}

#breadcrumbs {
  background-color: #ffffff;
}
